{
  "plugins": [
    "transform-class-properties",
    ["transform-react-jsx", {"pragma": "h"}]
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 1 Chrome version"]
      }
    }]
  ]
}