# ================================ Files ================================
.DS_Store

# ================================ Node ================================
# modules
/node_modules

# ================================ Parcel ================================
# cache
/.cache

# production build
/build

# development build
/build-dev

# ================================ Electron ================================
# builder artifacts (dmg, snap, AppImage, etc.)
/dist
