:root {
  --background: #E3652B;
  --bottom: #75706b;
  --top: #554d47;
  --border: #3a3534;
}

.stack-background {
  text-align: center;
  width: 100px;
  height: 270px;
  margin: 0 auto;
  position: relative;
}

.stack-container {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  background-color: var(--background);
  border-radius: 50%;
}

.stack {
  display: block;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 5px;
  border-radius: 8px;
  transform: rotate(-28deg) skewX(48deg);
  box-shadow: -12px 8px 20px 0px rgba(0, 0, 0, .4);
  border-bottom: 5px solid var(--background);
  border-left: 7px solid var(--background);
  opacity: 0;
  transition: none;
}

.stack.stacked {
  opacity: 1;
  transition: all 400ms ease;
}

.first {
  background-color: var(--top);
  background-image: linear-gradient(to top right, var(--top), var(--bottom));
  border-color: var(--border);
  top: 105px;
}

.first.stacked {
  top: 125px;
  transition: all 400ms ease;
}

.second {
  background-color: var(--top);
  background-image: linear-gradient(to top right, var(--top), var(--bottom));
  border-color: var(--border);
  top: 75px;
}

.second.stacked {
  top: 95px;
  transition: all 400ms ease;
}

.third {
  background-color: var(--bottom);
  background-image: linear-gradient(to top right, var(--top), var(--bottom));
  border-color: var(--border);
  top: 45px;
}

.third.stacked {
  top: 65px;
  transition: all 400ms ease;
}

.fourth {
  background-color: var(--bottom);
  background-image: linear-gradient(to top, var(--top));
  border-color: var(--border);
  top: 15px;
  font-size: 2em;
}

.fourth.stacked {
  top: 35px;
  transition: all 400ms ease;
}

.centered {
  text-align: center;
}
